.cart {
    &-full {
        margin: 80px 0;
        hr {
            border: 0;
            background: #F4F4F4;
            height: 2px;
            margin: 20px 0;
        }
        &__wrapper {
            max-width: 850px;
            margin: 0 auto;
        }
        &__cart {
            width: 40px;
            path {
                fill: red;
            }
        }
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                display: flex;
                align-items: center;
                h2 {
                    margin-left: 10px;
                    line-height: 1;
                }
                &:first-child {
                    font-weight: 700;
                    font-size: 20px;
                    letter-spacing: 0.01em;
                }
                &:last-child {
                    button {
                        background-color: transparent;
                        border: 0;
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        font-size: 13px;
                        color: #B6B6B6;
                    }
                }
            }
        }
        &__footer {
            margin-top: 40px;
            &-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    font-weight: 400;
                    font-size: 22px;
                    letter-spacing: 0.01em;
                    &:first-child {
                        span {
                            &:last-child {
                                font-weight: 700;
                            }
                        }
                    }
                    &:last-child {
                        span {
                            &:nth-child(2) {
                                font-weight: 700;
                                color: #FE5F1E;
                            }
                        }
                    }
                }
                svg {
                    width: 13px;
                    margin-left: 3px;
                    path {
                        fill: #FE5F1E;;
                    }
                }
            }
            &-bot {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 40px;
                a {
                    text-decoration: none;
                }
                button {
                    padding: 16px 25px;
                    display: flex;
                    align-items: center;
                    border-radius: 30px;
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
        &-back {
            font-size: 16px;
            color: #CACACA;
            background: #FFFFFF;
            border: 1px solid #D3D3D3;
        }
        &-pay {
            border: 0;
            color: #fff;
            background: #FE5F1E;
        }
    }
}